### Question 1

- Write the SQL queries to display the total amount earned by each employee's name and surname.

- Display all employees that have their names starting with the J letter.

In [7]:

import psycopg2

conn = psycopg2.connect(host = "localhost", port = "5432", database="postgres",
user="seneralkan", password="443454")

In [8]:
cur = conn.cursor()
cur

In [10]:
import pandas as pd

df_employee = pd.read_sql("SELECT * FROM employee", conn)
df_employee.head()

   EmployeeID FirstName LastName       City   State
0       10330      John     John         NY      NY
1       10449     Sarah    Lebat  Melbourne  Bourke
2       11012       Jon   Dallas         NY      NY
3       11013   Gheorge    Honey         NY      NY
4       11014     Anton    Savar         NY      NY

In [11]:
df_payment = pd.read_sql("SELECT * FROM payment", conn)
df_payment.head()

   EmployeeID SalaryDate  MonthId  Value
0       10330       June        6    128
1       10330       July        7    158
2       10330     August        8    133
3       10330  September        9    120
4       10330    October       10    188

In [37]:
# Display the total amount earned by each employee's name and surname

amount = pd.read_sql("""
SELECT e."FirstName", SUM(p."Value") as amount
FROM payment as p
LEFT JOIN employee e on p."EmployeeID" = e."EmployeeID"
GROUP BY e."FirstName"
ORDER BY amount DESC;

""", conn)

amount

  FirstName  amount
0      John     992
1     Sarah     648

In [44]:
# Display all employees that have their names starting with the J letter.

j_employee = pd.read_sql(""" 
SELECT *
FROM employee
WHERE "FirstName"
LIKE 'J%'
""", conn)
j_employee

   EmployeeID FirstName LastName City State
0       10330      John     John   NY    NY
1       11012       Jon   Dallas   NY    NY

### Question 2

Please write the code for identfying the 3 districts having highest number of buildings with number of buildings from shared KML files.

Please paste the link to the answer including the result and the code block using paste.tc or similar site.

KML files: https://drive.google.com/drive/folders/181sgH3elT4dcACyfisStKPVvRlROjmzs

In [73]:
import geopandas as gpd
import fiona

gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
df_building = gpd.read_file('./buildings.kml', driver = 'KML')
df_district = gpd.read_file('./districts.kml', driver= "KML")
df_district.columns

Index(['Name', 'Description', 'geometry'], dtype='object')

In [85]:
sjoin = gpd.sjoin(df_building, df_district, how='inner', op='within')
sjoin.reset_index()
sjoin.drop([ 'Name_left', 'Description_left', 'index_right', 'Description_right'], axis=1, inplace=True)

In [93]:
sjoin["District"] = sjoin["Name_right"]
sjoin.drop(['Name_right'], axis=1)

                                                geometry      District
0      MULTIPOLYGON (((28.95936 41.01368, 28.96004 41...  KALENDERHANE
2      MULTIPOLYGON (((28.95861 41.01312, 28.95839 41...  KALENDERHANE
145    MULTIPOLYGON (((28.95766 41.01452, 28.95767 41...  KALENDERHANE
167    MULTIPOLYGON (((28.95869 41.01401, 28.95896 41...  KALENDERHANE
168    MULTIPOLYGON (((28.95936 41.01368, 28.96004 41...  KALENDERHANE
...                                                  ...           ...
21328  MULTIPOLYGON (((28.96996 41.00740, 28.96996 41...    EMİN SİNAN
21329  MULTIPOLYGON (((28.97002 41.00740, 28.97001 41...    EMİN SİNAN
21330  MULTIPOLYGON (((28.97018 41.00739, 28.97017 41...    EMİN SİNAN
21331  MULTIPOLYGON (((28.97039 41.00721, 28.97038 41...    EMİN SİNAN
21332  MULTIPOLYGON (((28.97018 41.00739, 28.97040 41...    EMİN SİNAN

[31552 rows x 2 columns]

In [94]:
count_buildings = sjoin.groupby(["District"], as_index=False)["geometry"].count()
count_buildings.sort_values("geometry", ascending=False)

              District  geometry
5           AYVANSARAY      1898
7                BALAT      1535
26     KOCAMUSTAFAPAŞA      1453
14           DERVİŞALİ      1334
18       HIRKA-İ ŞERİF      1327
55           ŞEHREMİNİ      1290
50  YAVUZ SULTAN SELİM      1279
1          AKŞEMSETTİN      1096
41         SEYYİD ÖMER      1090
52            YEDİKULE       937
17       HASEKİ SULTAN       893
0              AKSARAY       868
53              ZEYREK       858
54        İSKENDERPAŞA       815
23          KARAGÜMRÜK       790
30         MEVLANAKAPI       785
3            ALİ KUŞÇU       778
12              CİBALİ       726
11          CERRAHPAŞA       681
49             TOPKAPI       654
46         SİLİVRİKAPI       649
32        MOLLA GÜRANİ       640
4              ATİKALİ       637
45       SÜMBÜL EFENDİ       593
24         KATİP KASIM       551
37             NİŞANCA       504
27      KÜÇÜK AYASOFYA       455
10         CANKURTARAN       453
35     MİMAR HAYRETTİN       419
31        MOLLA FENARİ       365
42         SULTANAHMET       357
56        ŞEHSUVAR BEY       341
15          EMİN SİNAN       307
39          SARAÇİSHAK       297
36    MİMAR KEMALETTİN       284
2              ALEMDAR       276
9          BİNBİRDİREK       266
25           KEMALPAŞA       246
29           MESİHPAŞA       237
34       MUHSİNE HATUN       235
21            HOCAPAŞA       209
44         SÜLEYMANİYE       204
28              MERCAN       191
19      HOBYAR EMİNÖNÜ       180
48          TAYA HATUN       175
13            DEMİRTAŞ       160
20     HOCA GIYASETTİN       157
43              SURURİ       152
47           TAHTAKALE       150
33        MOLLA HÜSREV       141
16           HACIKADIN       123
51         YAVUZ SİNAN       118
6           BALABANAĞA       104
22        KALENDERHANE        90
38          RÜSTEMPAŞA        72
8              BEYAZIT        65
40           SARIDEMİR        62

### Question 3

Please prepare the user interface specification document in English for the user management screen below using markdown syntax. It should include the requirements, details related to UI components, the behavior of the page when using these components, what to show to the user at the beginning, etc. This document will be used by Software developers who will develop this user interface. Please push the result in one of GitHub, GitLab, or BitBucket repositories (any of them is fine) and share the accessible link.

![UI](./case_ui.png)

## Question 3 - UI Component

### Header Section

In the Header Component, there should be 3 features as below:

    1-) Please add "New User" button
        
        - This button will direct to the Form component in the body section. 

    2-) Please add "Hide Disable User" button or checkbox

        - This features needs to hide disable user informations in the body section.

    3-) Please add "Save User" button

        - The button needs to save the new user informations to the database

        - Moreover, This button needs to be seen while adding new user

### Body Section

Basically, there should be 2 main components for body section.

    1-) On the left side of the body section, there should be user information table list.

        - ID, User Name, Email and Enabled columns need be seen on the user information table

        - After adding new user, the table needs to be updated with necessary informations.

    2-) On the right side of the section, there should be New User Form component. In that form, we need to keep user information based on Username, Display Name, Phone, Email, User Roles fields and Enabled checkbox. 
    
    Besides that, please find details for data type of the the fields below.

        - Username: string
        - Displayname: string
        - Phone: string (length 10 digit ex: 5317304468)
        - Email: email field or string
        - User Roles: There should be 3 main selection as Guest, Admin and SuperAdmin
        - Enabled: bool

### Question 4

Please estimate the number of base stations in Istanbul by explaining how you estimated this number.

#### Answer:

According to the Miiliyet News, there are 48.684 base stations in Istanbul as first place. Moreover, there are 197.000 base stations all over the Turkey.

There are several parameters for determination of the base stations and investing in order to commissioning the base stations. The main parameters can be population, customer number for each coverage zone of base stations and base infrastructure.

As I know, investing and controlling the base stations can vary on churn rate for the coverage zone of the base staions.